.filters {
  height: 100vh;
  top: 0;
  border-right: 2px solid lightgrey;
  padding: 30px;
  flex: 30%;
  min-width: 30%;
}

.filtersTitle {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
}

input, select {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.filterInput {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  
}
  
.filterSelect {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.form-item {
  display: inline-block;
  width: 100%;
}

.radiolabel {
  display: inline-block;
  width: 30%;
  margin: 0;
  text-align: right;
}

.filterRadio {
  display: inline-block;
  width: 50px;
}

label {
  display: block;
  text-align: left;
}