.filters {
  top: 0;
  border-right: 2px solid lightgrey;
  width: 20%;
  flex-grow: 1;
  max-width: 220px;
  min-width: 200px;
  padding: 10px;
}

.filtersTitle {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
}

.filterInput {
  display: inline-block;
  border: 1px solid darkgrey;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
  
.filterSelect {
  display: inline-block;
  border: 1px solid darkgrey;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.form-item {
  display: inline-block;
  width: 100%;
}

.radiolabel {
  display: inline-block;
  width: 50%;
}

.filterRadio {
  display: inline-block;
  width: 50%;
}

label {
  display: block;
  text-align: left;
}