
* {
  background-color: #262626;
  color: white;
}

.text{
  width: 100%;
  text-align: center;
}

h1 {
  box-sizing: border-box;
  text-align: center;
  height: 15vh;
  margin: 0;
  color: white;
  background-color: darkgreen;
}

.job-container {
  display: flex;
  text-align: center;
  width: 90vw;
  margin: auto;
  margin-top: 50px;
}

.jobsinfo {
  text-align: center;
}