
* {
  background-color: #262626;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
  width: 100%;
  text-align: center;
}

.job-container {
  display: flex;
  text-align: center;
  width: 90vw;
  margin: auto;
  margin-top: 50px;
}

.jobsinfo {
  text-align: center;
}

input, textarea, select {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}